/* You can add global styles to this file, and also import other style files */


@use '@angular/material' as mat;
@use '../../../_theme-colors' as my-theme; 
@use '../../../_theme-b-colors' as my-theme-b; 

@include mat.core();

$primary: my-theme.$primary-palette;
//$primary: my-theme-b.$primary-palette;

$custom-theme: mat.define-theme((
  color: (
    theme-type: light,    
    primary: $primary, 
    //use-system-variables: true   
  ),
));

// html {
//   @include mat.all-component-themes($custom-theme);
//  }
html{
  @include mat.core-theme($custom-theme);
  @include mat.toolbar-theme($custom-theme);
  @include mat.button-theme($custom-theme);
  @include mat.icon-theme($custom-theme);
  @include mat.sidenav-theme($custom-theme);
  @include mat.tabs-theme($custom-theme);
  @include mat.list-theme($custom-theme);
  @include mat.card-theme($custom-theme);
  @include mat.select-theme($custom-theme);
}