/* You can add global styles to this file, and also import other style files */


@use '@angular/material' as mat;
@use '../../../_theme-colors' as my-theme; 
@use '../../../_theme-b-colors' as my-theme-b; 

@include mat.core();

$primary: my-theme-b.$primary-palette;

$tertialy: my-theme-b.$tertiary-palette;

$custom-theme: mat.define-theme((
  color: (
    theme-type: light,
    //color-scheme: light dark,
    primary: $primary,
    tertiary: $tertialy,
  ),
));

html {
  @include mat.all-component-themes($custom-theme);
 }