
<app-navigation>
  <router-outlet></router-outlet>
</app-navigation>

  <!-- <mat-sidenav-container  class="example-container">
    <mat-sidenav opened="true">
  
    <mat-nav-list >
      <a mat-list-item routerLink="/">        
        <span>Home</span>
      </a>
      <a mat-list-item routerLink="about">
        <span>About</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  
  <mat-toolbar >
      
      <button >
    
      </button>
 
    </mat-toolbar>
    <router-outlet></router-outlet>
    
  </mat-sidenav-container> -->


  


<!-- <mat-sidenav-container fullscreen>
   <mat-sidnav #sidnav>
    <mat-nav-list (click)="sidnav.onclose">
      <a mat-list-item routerLink="/">
        <mat-icon>library_books</mat-icon>
        <span>Home</span>
      </a>
      <a mat-list-item routerLink="about">
        <mat-icon>question_answer</mat-icon>
        <span>About</span>
      </a>
      <a mat-list-item routerLink="login">
        <mat-icon>person_add</mat-icon>
        <span>Register</span>
      </a>
      <a mat-list-item routerLink="login">
        <mat-icon>account_circle</mat-icon>
        <span>Login</span>
      </a>
    </mat-nav-list>
   </mat-sidnav>
   <mat-toolbar color="primary">
     <button mat-icon-button (click)="sidnav.onplay">
      <mat-icon>menu</mat-icon>
     </button>

   </mat-toolbar>

   <router-outlet></router-outlet>
</mat-sidenav-container> -->